<div>
  <p class="_attendance">
    <%= link_to attendance.show do %>
      <%= attendance.show.title %>
      on
      <%= attendance.show.date.in_time_zone("Pacific Time (US & Canada)") %>
    <% end %>
    At:
    <%= link_to attendance.show.venue do %>
      <%= attendance.show.venue.name %>
    <% end %>
  </p>
</div>
